body {
    margin: 0;
    overflow: hidden;
}
#GAMEOVER {
    background-image: url("GAMEOVER.jpg");
    background-size: 100vw;
}
#background1 {
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: -1;
}
#mc {
    width: 15vw;
    position:absolute;
    top: 50vh;
    left: 100vw;
    z-index: 1;
    animation-name: mc;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
@keyframes mc {
    20% {
        transform: translate(-30vw,0);
    }
    80%{
        transform: translate(-30vw,0);
    }
    100%{

    }
}
#black {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in;
    animation-duration: 18s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 0s;
    z-index: 2;
}
@keyframes fade-in {
    0% {
        opacity:1;
    }
    28% {
        opacity: 0;
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
#text1 {
    width: 20vw;
    height:20vh;
    position: absolute;
    top:40vh;
    left:50vw;
    animation-name: text1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay:7s;
    opacity: 0;

}
@keyframes text1 {
    1% {
        opacity:1
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#text2 {
    width: 25vw;
    height:25vh;
    position: absolute;
    top:35vh;
    left:45vw;
    animation-name: text1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay:10s;
    opacity: 0;

}
#house {
    width:25vw;
    height:40vh;
    z-index: 1;
    position: absolute;
    top:42vh;
    left: 40vw;

}
#mc2 {
    width : 5vw;
    position: absolute;
    top: 67vh;
    left: 50vw;
    z-index: 2;
    opacity:0;
    animation-name: mc2;
    animation-delay: 5s;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}
@keyframes mc2 {
    1% {
        opacity: 1;
    }
    80% {
        opacity:1;
        transform: translate(0,0);
    }
    100% {
        transform: translate(120vw,0);
        opacity:1;
    }
}
#text9 {
    width: 10vw;
    position: absolute;
    top: 57vh;
    left: 40vw;
    z-index: 3;
    animation-name: text9;
    animation-delay: 28s;
    animation-duration: 1s;
    opacity: 0;
}
@keyframes text9 {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#father {
    width: 8vw;
    position: absolute;
    top: 66vh;
    left: 30vw;
    animation-name: father;
    animation-delay: 22.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    z-index: 3
}
@keyframes father {
    100% {
        transform: translate(-40vw,-15vh)
    }
    
}
#mother {
    width: 6vw;
    position: absolute;
    top: 64vh;
    left: 35vw;
    animation-name: mother;
    animation-delay: 22.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    z-index: 3
}
@keyframes mother {
    100% {
        transform: translate(-40vw,-15vh)
    }
    
}
#kidnap {
    width:20vw;
    position: absolute;
    top: 50vh;
    left: -20vw;
    animation-name: kidnap;
    animation-delay: 18s;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    z-index: 2
}
@keyframes kidnap {
    10% {
        transform: translate(20vw,0)
    }
    50% {
        transform: translate(20vw,0)
    }
    100% {
        transform: translate(140vw,0)
    }

}
#text3 {
    width: 10vw;
    position: absolute;
    top: 54vh;
    left: 22vw;
    animation-name: text3;
    animation-delay: 5.5s;
    animation-duration: 3s;
    opacity: 0
}
@keyframes text3 {
    1% {
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}
#text4 {
    width: 10vw;
    position: absolute;
    top: 54vh;
    animation-name: text3;
    animation-delay: 9s;
    animation-duration: 3s;
    opacity: 0
}
#text5 {
    width: 10vw;
    position: absolute;
    top: 54vh;
    left: 22vw;
    animation-name: text3;
    animation-delay: 12s;
    animation-duration: 1.5s;
    opacity: 0
}
#text6 {
    width: 10vw;
    position: absolute;
    top: 54vh;
    left: 22vw;
    animation-name: text3;
    animation-delay: 14s;
    animation-duration: 3s;
    opacity: 0
}
#black2 {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 0s;
    z-index: 5;
}
@keyframes fade-in2 {
    100% {
        opacity: 0
    }
}
#text7 {
    width: 10vw;
    position: absolute;
    top: 50vh;
    animation-name: text3;
    animation-delay: 9s;
    animation-duration: 3s;
    opacity: 0;
    animation-name: text4;
    animation-delay: 18s;
    animation-duration: 2s;
    z-index: 3;
}
@keyframes text4 {
    1% {
        opacity: 1;
    }
    
    80% {
        opacity:1;
        transform: translate(12vw,0)
    }
    100% {
        opacity:1;
        transform: translate(12vw,0)
    }
}
#demon1 {
    width: 5vw;
    position: absolute;
    top: 40vh;
    left: -5vw;
    animation-name: demon1;
    animation-delay: 20s;
    animation-duration: 5s;
    z-index: 3
}
@keyframes demon1 {
    50% {
        transform: translate(35vw,15vh)
    }
    100% {
        transform: translate(-5vw,0)
    }
}
#demon2 {
    width: 5vw;
    position: absolute;
    top: 40vh;
    left: -5vw;
    animation-name: demon2;
    animation-delay: 20s;
    animation-duration: 5s;
    z-index: 3
}
@keyframes demon2 {
    50% {
        transform: translate(40vw,15vh)
    }
    100% {
        transform: translate(0,0)
    }
}
#text8 {
    width:10vw;
    position: absolute;
    top: 47vh;
    left: 15vw;
    opacity: 0;
    animation-name: text8;
    animation-delay: 25s;
    animation-duration: 3s;
    z-index: 3
}
@keyframes text8 {
    1% {
        opacity:1
    }
    100% {
        opacity: 1
    }
}
#kaipo {
    width: 50vw;
    z-index: 5;
    position: absolute;
    left: 25vw;
    top: -35vh;
    animation-name: drop;
    animation-delay: 38s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes drop {
    100% {
        transform: translate(0,50vh)
    }
}
#start {
    width: 20vw;
    z-index: 5;
    position: absolute;
    left: 40vw;
    top: -20vh;
    animation-name: bounce;
    animation-delay: 39s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes bounce {
    50% {
        transform: translate(0,70vh)
    }
    85% {
        transform: translate(0,65vh)
    }
    90% {
        transform: translate(0,65vh)
    }
    100% {
        transform: translate(0,70vh)
    }
}
#black3 {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 35s;
    z-index: 4;
    opacity: 0;
}
@keyframes fade-in3 {
    100% {
        opacity: 0.8
    }
}
#mc3 {
    width : 5vw;
    position: absolute;
    top: 67vh;
    left: -5vw;
    z-index: 2;
    animation-name: mc3;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
}
@keyframes mc3 {
    100% {
        transform: translate(105vw,0)
    }
}
#bow {
    width : 5vw;
    position: absolute;
    top: 67vh;
    left: 50vw;
    z-index: 2;
    animation-name: mc3;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 4.5s;
}
#mc4 {
    width : 5vw;
    position: absolute;
    top: 67vh;
    left: 100vw;
    z-index: 2;
    animation-name: mc4;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 10s;
}
@keyframes mc4 {
    30% {
        transform: translate(-50vw,0)
    }
    70% {
        transform: translate(-50vw,0)
    }
    100% {
        transform: translate(0,0);
    }
}
#bigdemon {
    width:20vw;
    position: absolute;
    top: 50vh;
    left: -20vw;
    animation-name: bigdemon;
    animation-delay: 5s;
    animation-duration: 10s;
}
@keyframes bigdemon {
    50% {
        transform: translate(50vw);
    }
    100% {
        transform: translate(-10vw,0);
    }
}
.dot {
    width: 2vw;
    height: 4vh;
    position: absolute;
    top: 70vh;
    left: 100vw;
    background-color: red;
    border-radius: 10vw;
}
#dot1 {
    animation-timing-function: linear;
    animation-name: dot1;
    animation-duration: 5s;
    animation-delay: 9s;
}
#dot2 {
    animation-timing-function: linear;
    animation-name: dot2;
    animation-duration: 5s;
    animation-delay: 9.5s;
}
#dot3 {
    animation-timing-function: linear;
    animation-name: dot3;
    animation-duration: 5s;
    animation-delay: 10s;
}
@keyframes dot1 {
    100% {
        transform: translate(-102vw);
    }
}
@keyframes dot2 {
    100% {
        transform: translate(-102vw,-8vh);
    }
}
@keyframes dot3 {
    100% {
        transform: translate(-102vw,-16vh);
    }
}
#ahh {
    width: 10vw;
    position: absolute;
    left: 43vw;
    top: 50vh;
    animation-name: ahh;
    animation-delay: 10s;
    animation-duration: 5s;
    opacity: 0;
}
@keyframes ahh {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(-60vw,0);
    }
}
#text10 {
    width: 10vw;
    position: absolute;
    top: 57vh;
    left: 40vw;
    opacity: 0;
    animation-name: text10;
    animation-duration: 10s;
    animation-delay: 17s;
    animation-timing-function: linear;
}
@keyframes text10 {
    1% {
        opacity: 1;
    }
    100% {
        transform: translate(160vw,0);
        opacity: 1;
    }
}
#mc5 {
    z-index:1;
    width: 5vw;
    position: absolute;
    top: 45vh;
    left: 15vw;
    animation-name: move1;
    animation-duration: 4s;
    animation-delay: 35s;
    animation-fill-mode: forwards;
}
#black4 {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in4;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 20s;
    z-index: 4;
    opacity: 0;
}
@keyframes fade-in4 {
    100% {
        opacity: 1
    }
}
#instructions {
    width: 101vw;
    height: 30vh;
    background-color: black;
    position: absolute;
    left: -1vw;
    top: 70vh;
    opacity: .75;
    border-color: white;
    border-style: solid;
    border-top-width: 1vh;
    z-index: 4;
}
.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    z-index: 4;
    position: absolute;
    top: 77vh;
    left: 3vw;
    font-size: 2vw;
    color:floralwhite;
}
#type1 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
#type2 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 15s;
}
#type3 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 25s;
}
#type4 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 35s;
}
#type5 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 45s;
}
@keyframes typing {
    from { width: 0; opacity: 1}
    99% {
        width: 100%; opacity: 1;
    }
    to { width: 100%; opacity: 0}
}
#X {
    width: 10vw;
    height: 20vh;
    position: absolute;
    top: 30vh;
    left: 40vw;
    animation-name: X;
    animation-duration: 5s;
    animation-delay: 30s;
    animation-timing-function: linear;
    opacity: 0;
}
@keyframes X {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#map {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: -75vh;
    left: 0;
    z-index:0;
    animation-name: move1;
    animation-duration: 4s;
    animation-delay: 35s;
    animation-fill-mode: forwards;
}
@keyframes move1 {
    99% {
        transform: translate(-20vw,-65vh);
        opacity: 1;
    }
    100% {
        transform: translate(-20vw,-65vh);
        opacity: 0;
    }
}
#X2 {
    width: 10vw;
    height: 20vh;
    position: absolute;
    top: 30vh;
    left: 40vw;
    animation-name: X;
    animation-duration: 3s;
    animation-delay: 40s;
    animation-timing-function: linear;
    opacity: 0;
    z-index:4;
}
#map2 {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: -140vh;
    left: -20vw;
    z-index:0;
    animation-name: move2;
    animation-duration: 12s;
    animation-delay: 38.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes move2 {
    0.1% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        transform: translate(0,0)
    }
    100% {
        transform: translate(-60vw,0);
        opacity: 1;
    }
}
#X3 {
    width: 10vw;
    height: 20vh;
    position: absolute;
    top: 30vh;
    left: 45vw;
    animation-name: X;
    animation-duration: 3.5s;
    animation-delay: 51s;
    animation-timing-function: linear;
    opacity: 0;
    z-index:4;
}
#type6 {
    animation: typing;
    animation-duration: 10s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
    animation-delay: 55s;
}
#map3 {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: -140vh;
    left: -80vw;
    z-index:0;
    animation-name: move3;
    animation-duration: 12s;
    animation-delay: 50.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes move3 {
    0.1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        transform: translate(0,0)
    }
    100% {
        transform: translate(20vw,110vh);
        opacity: 1;
    }
}
#X4 {
    width: 10vw;
    height: 20vh;
    position: absolute;
    top: 30vh;
    left: 40vw;
    animation-name: X;
    animation-duration: 3.5s;
    animation-delay: 62s;
    animation-timing-function: linear;
    opacity: 0;
    z-index:5;
}
#black5 {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in4;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 65s;
    z-index: 7;
    opacity: 0;
}
@keyframes fade-in4 {
    100% {
        opacity: 1
    }
}
#score1 {
    position: absolute;

}
#keys {
    position: absolute;
    
}
#fifthbg {
    width:300vw;
    height:300vh;
    z-index: 0;
    position: absolute;
    top: -5vh;
}
#mc6 {
    z-index:2;
    width: 6vw;
    position: absolute;
    top: 100vh;
    left: 47vw;
    animation-name: mc6;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#boss {
    width:25vw;
    position: absolute;
    top:5vh;
    left:37vw;
}
@keyframes mc6 {
    100% {
        transform: translate(0,-40vh);
    }
}
#text11 {
    width: 10vw;
    position: absolute;
    top:55vh;
    left: 37vw;
    animation-name: text11;
    animation-duration: 3s;
    animation-delay: 5s;
    opacity: 0;
}
@keyframes text11 {
    1% {
        opacity: 1
    }
    100% {
        opacity:1
    }
}
#text12 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 2s;
    animation-delay: 8s;
    opacity: 0;
}
@keyframes text12 {
    1% {
        opacity: 1
    }
    100% {
        opacity:1
    }
}
#text13 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 10s;
    opacity: 0;
}
#text14 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 13s;
    opacity: 0;
}

#text16 {
    width:15vw;
    position: absolute;
    top: 0vh;
    left: 32vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 17s;
    opacity: 0;
}
.shake {
    animation-name: shake;
    animation-duration: 0.25s;
    animation-delay: 17s;
    animation-timing-function: linear;
}
@keyframes shake {
    33% {
        transform: translate(0,2vh);
    }
    66% {
        transform: translate(0,-2vh);
    }
    100% {
        transform: translate(0,0);
    }
}
#text17 {
    width: 10vw;
    position: absolute;
    top:55vh;
    left: 37vw;
    animation-name: text11;
    animation-duration: 3s;
    animation-delay: 20s;
    opacity: 0;
}
#score2 {
    position: absolute;
    color: red;
    background-color: black;
}
#sixthbg {
    width:300vw;
    height:300vh;
    z-index: 0;
    position: absolute;
    top: -5vh;
}
#boss2 {
    width:25vw;
    position: absolute;
    top:5vh;
    left:37vw;
}
#mc7 {
    z-index:2;
    width: 6vw;
    position: absolute;
    top: 60vh;
    left: 47vw;
}
#text18 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
}
#text19 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 6s;
    opacity: 0;
}
#text20 {
    width: 10vw;
    position: absolute;
    top:55vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 9s;
    opacity: 0;
}
#text21 {
    width:10vw;
    position: absolute;
    top: 5vh;
    left: 37vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 12s;
    opacity: 0;
}

#mc8 {
    z-index:2;
    width: 6vw;
    position: absolute;
    top: 61vh;
    left: -6vw;
    animation-name: mc8;
    animation-duration: 8s;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes mc8 {
    100% {
        transform: translate(106vw,0)
    }
}
#father2 {
    width: 10vw;
    position: absolute;
    top: 59vh;
    left: 40vw;
    animation-name: mc8;
    animation-duration: 8s;
    animation-delay: 13.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#mother2 {
    width: 7vw;
    position: absolute;
    top: 58vh;
    left: 45vw;
    animation-name: mc8;
    animation-duration: 8s;
    animation-delay: 13.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#text22 {
    width: 10vw;
    position: absolute;
    top: 50vh;
    left: 33vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    
}
#text23 {
    width: 10vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    animation-name: text12;
    animation-duration: 3s;
    animation-delay: 6s;
    opacity: 0;
}
#black6 {
    width:100vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    left:0vw;
    animation-name: fade-in3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    animation-delay: 18s;
    z-index: 4;
    opacity: 0;
}
#end {
    width: 50vw;
    position: absolute;
    left: 23vw;
    top: 30vh;
    z-index: 5;
    opacity: 0;
    animation-name: end;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 21s
}
@keyframes end {
    100% {
        opacity: 1;
    }
}
#restart {
    width: 20vw;
    position: absolute;
    top: 80vh;
    left: 40vw;
}